* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: "微软雅黑", "宋体";
	background-color: #F6F6F6;
}

.header {
	width: 1100px;
	height: 106px;
	margin: 0 auto;
	position: relative;
	border-bottom: 1px solid #D3D3D3;
}

.hd_logo {
	position: absolute;
	top: 16px;	
	left: 0px;
}

.hd_tel {
	position: absolute;
	right: 0px;
	background: url('../images/icon_bg.png') no-repeat left 8px;
	padding-left: 35px;
	font-size: 12px;
	color: #888888;
	top: 16px;
	right: 0px;
}

.hd_tel p {
	font-size: 20px;
	color: #00B3E1;
	font-weight: 900;
	line-height: 1em;
}

.hd_nav {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 50px;
}

.hd_nav ul {
	list-style: none;
}

.hd_nav li {
	float: left;
	padding: 0px 15px;
	margin: 0px 10px;
}

.hd_nav a {
	text-decoration: none;
	display: block;
	font-size: 16px;
	line-height: 50px;
	color: #333333;
}

.hd_nav .on, .hd_nav li:hover {
	background: #6DCCE5;
	border-bottom: 2px solid #00B3E1;
}

.hd_nav .on a, .hd_nav li:hover a {
	color: #FFFFFF;
}

#hd_nav_pro, #hd_nav_bus, #hd_nav_pro_nav {
	display: none;
	position: absolute;
	top: 106px;
	width: 160px;
	border-bottom: 2px solid #00B3E1;
}

#hd_nav_pro li, #hd_nav_bus li {
	border-bottom: 1px solid #D3D3D3;
	border-right: 1px solid #D3D3D3;
}

#hd_nav_pro {
	left: 644px;
}

#hd_nav_pro .on {
	background: #FFF;
	border-right: none;
    border-left: 4px solid #00B3E1;
    padding-left: 17px;
    padding-right: 22px;
}

#hd_nav_pro .on a {
	color: #85DAE9;
}

/* #hd_nav_pro ul li:hover a {
	color: #85DAE9;
}
 */
#hd_nav_bus {
	left: 758px;
}

.hd_nav_nav {
	background: #F6F6F6;
	z-index: 10;
}

.hd_nav_nav ul {
	list-style: none;
}

.hd_nav_nav ul li {
	float: left;
	width: 119px;
	line-height: 24px;
	padding: 10px 20px;
	border: 1px solid #D3D3D3;
	border-top: none;
	border-bottom: none;
}

.hd_nav_nav ul li:hover {
	border-left: 4px solid #00B3E1;
	background: #FFF;
	padding-left: 17px;
	padding-right: 21px;
}

.hd_nav_nav ul li a, #hd_nav_pro_nav ul li a {
	text-decoration: none;
	color: #333;
	font-weight: 100;
	font-size: 14px;
}

#hd_nav_pro_nav {
	z-index: 10;
	left: 805px;
	width: 371px;
	height: 270px;
	background: #FFF;
	border: 1px solid #D3D3D3;
	border-left: none;
	border-top: none;
	top: 107px;
}

#hd_nav_pro_nav ul li {
	width: 328px;
	background: #FFF;
	border: none;
	padding-top: 10px;
	line-height: 24px;
}

#hd_nav_pro_nav ul li:hover {
	padding-right: 19px;
	padding-left: 20px;
	border-right: 4px solid #00B3E1;
}

#hd_nav_pro_nav ul .on {
	border-right: 4px solid #00B3E1;
}

#hd_nav_pro_nav ul .on a {
	color: #85DAE9;
}

#hd_nav_pro_nav ul li a:hover {
	color: #3179DB;
}

#hd_nav_pro_nav ul li a {
	padding: 0px 10px;
	font-size: 14px;
	font-weight: 100;
	color: #5E5E5E;
}

.banner {
	overflow: hidden;
	width: 1100px;
	margin: 10px auto;
}

.banner img {
	width: 1100px;
	height: 390px;
}

#boxID {
	width: 1100px;
	height: 390px;
	margin-top: 10px;
}

.about {
	width: 1100px;
	height: 180px;
	margin: 20px auto;
}

.box {
	width: 534px;
    height: 180px;
    border: 1px solid #D3D3D3;
    position: relative;
    transition: 0.4s;
}

.box i {
	display: block;
	width: 72px;
	height: 72px;
	position: absolute;
	top: 50px;
	left: 50px;
	background: url('../images/icon_bg.png') no-repeat;
}

.box h2 {
	position: absolute;
    top: 50px;
    left: 180px;
    font-size: 18px;
    color: #565656;
    font-weight: 100;
}

.box p {
	position: absolute;
    top: 80px;
    left: 180px;
    font-size: 14px;
    color: #848484;
    width: 320px;
}

.box:hover {
	background: #00B3E1;
    border: 1px solid #00B3E1;
}

.box:hover h2, .box:hover p {
	color: #FFFFFF;
}

.box_l {
	float: left;
}

.box_r {
	float: right;
}

.box_l a, .box_r a {
	text-decoration: none;
}

.box_l i {
	background-position: left -29px;
}

.box_r i {
	background-position: left -173px;
}

.pro {
	width: 100%;
	height: 630px;
	background: #F0F0F0;
	overflow: hidden;
}

.pro_title {
	margin-top: 50px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
}

.common_title {
	width: 1100px;
	background: url('../images/title_bg.png') repeat-x center 10px;
	text-align: center;
}

.pro_title h2 {
	background: #F0F0F0;
	display: inline-block;
	font-weight: 100;
	font-size: 20px;
                color: #00B3E1;
	padding: 0px 20px;
}

.pro span {
	font-size: 12px;
	color: #00B3E1;
	text-transform: uppercase;
	margin-top: 10px;
	line-height: 1em;
	display: block;
}

.pro i {
	width: 75px;
    height: 1px;
    display: inline-block;
    background: #00B3E1;
}

.pro_con {
	width: 1180px;
	height: 336px;
	margin: 0px auto;
}

/* .btn {
	height: 300px;
	width: 40px;
	cursor: pointer;
	float: left;
}

#btn_l, #btn_r {
	display: block;
    width: 28px;
    height: 46px;
    background: url(../images/icon_bg.png) no-repeat;
    margin-top: 127px;
}

#btn_l {
	background-position: left -317px;
}

#out {
	overflow: hidden;
	float: left;
	width: 1100px;
	height: 300px;
}

#out ul {
	height: 300px;
	list-style: none;
}

#out li {
	float: left;
	margin-right: 5px;
}

#btn_r {
	background-position: -28px -317px;
} */

.pro_more {
	border: 1px solid #202524;
	display: block;
	width: 226px;
	height: 48px;
	margin: 0px auto;
	margin-top: 45px;
	color: #202524;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	line-height: 48px;
	transition: 0.4s;
	position: relative;
}

.pro_more:hover {
	background: #00B3E1;
    color: #FFFFFF;
    border: 1px solid #00B3E1;
}

.pro_more i {
	display: block;
    width: 6px;
    height: 11px;
    background: url(../images/more_bg.png) no-repeat;
    position: absolute;
    top: 18px;
    left: 160px;
    transition: left 0.4s;
}

.pro_more:hover i {
    background-position: left -11px;
    left: 180px;
}

#box {
	border: 1px solid #5E5E5E;
	width: 1100px;
	height: 334px;
	margin: 45px auto;
	position: relative;
	overflow: hidden;
}

#left, #right {
	display: block;
	position: absolute;
	z-index: 10;
	opacity: 0;
	width: 130px;
	height: 334px;
	background-color: #00B3E1;
	transition: 0.4s;
}

#left {
	left: 0px;
}

#left i {
	background: url('../images/arrow-thin-left.svg') no-repeat;
}

#right {
	right: 0px;
}

#right i {
	background: url('../images/arrow-thin-right.svg') no-repeat;
}

#left:hover, #right:hover {
	opacity: 0.4;
}

#picScroll {
	height: 80px;
}

#picScroll i {
	width: 85px;
	height: 85px;
	margin: 125px 23px;
}

#picScroll ul {
	list-style: none;
	height: 100%;
	position: absolute;
}

#picScroll li {
	float: left;
	margin: 15px auto;
	padding: 0px 15px;
}

.news {
	width: 1100px;
	height: 445px;
	margin: 0px auto;
}

.news_title {
	margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.news_title h2 {
	background: #F6F6F6;
	display: inline-block;
	font-weight: 100;
	font-size: 20px;
	color: #333;
	padding: 0px 20px;
}

.news_title span {
	font-size: 12px;
	color: #00B3E1;
	text-transform: uppercase;
	margin-top: 10px;
	line-height: 1em;
	display: block;
}

.news_title i {
	width: 75px;
    height: 1px;
    display: inline-block;
    background: #00b3e1;
}

.news_con {
	width: 1100px;
	height: 340px;
}

.news_main {
	width: 660px;
	height: 340px;
	float: left;
	position: relative;
}

.news_main_left {
	width: 160px;
	height: 340px;
	background: #3F434C;
	padding-left: 20px;
}

.img {
	margin-top: 25px;
}

.news_main_left h2 {
	font-size: 20px;
    color: #FFFFFF;
    font-weight: 100;
    margin: 20px 0 25px;
}

.btn_t, .btn_b {
	width: 160px;
	height: 90px;
    margin-bottom: 10px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.btn_t:hover, .btn_b:hover {
	background: #898F9D;
}

.btn_t img {
	position: absolute;
	top: 30px;
	left: 20px;
}

.btn_t h3, .btn_b h3{
	position: absolute;
    top: 25px;
    left: 60px;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
}

.btn_t h3 span, .btn_b h3 span {
	font-size: 12px;
    color: #FFFFFF;
    display: block;
}

.btn_b img {
	position: absolute;
	top: 30px;
	left: 20px;
}

.news_main_left .on {
	background: #00B3E1;
}

.news_main_right {
	width: 476px;
    height: 338px;
    background: #FFFFFF;
    position: absolute;
    border: 1px solid #D0D0D0;
    border-left: none;
    overflow: hidden;
    left: 181px;
    top: 0px;
}

.news_box {
	width: 439px;
    height: 308px;
    padding: 30px 12px 0 25px;
}

.news_box .top {
	height: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.box_out .top a {
	text-decoration: none;
	color: #00B3E1;
}

.box_out .top h4 a {
	font-size: 14px;
}

.box_out .top p {
	font-size: 12px;
    color: #666;
    line-height: 1.6em;
    margin-top: 20px;
}

.box_out .list {
	margin-top: 25px;
}

.box_out .list h4 {
	line-height: 3em;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.box_out .list span {
	float: right;
    font-size: 12px;
    color: #9e9fa3;
}

.box_out .list a {
	color: #3f434c;
	text-decoration: none;
	font-size: 15px;
	width: 315px;
}

.box_out .box_more {
	display: block;
	color: #00B3E1;
	border: 1px solid #00B3E1;
	width: 106px;
	height: 28px;
	text-decoration: none;
	text-align: center;
	line-height: 28px;
	margin-top: 10px;
	float: right;
}

.box_out .box_more:hover {
	background: #00B3E1;
	color: #FFF;
	transition: 0.4s;
}

.video {
	width: 420px;
	height: 340px;
	float: right;
}

.video .text {
	text-align: center;
    border: 1px solid #D0D0D0;
    border-top: none;
    height: 65px;
}

.video .text h4 {
	font-size: 16px;
    color: #3f434c;
    font-weight: 100;
    padding-top: 15px;
}

.video .text h4 span {
	display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: #b0b1b4;
}

.copyright {
	width: 100%px;
	height: 200px;
	background-color: #E8E8E8;
	margin-top: 20px;
}
.copyright_content {
	width: 1000px;
	margin: 60px auto;
	padding-top: 20px;
}
.copyright_content li {
	list-style-type: none;
	float: left;
	width: 235px;
	background: url('../images/line.png') no-repeat right center;
	text-align: center;
	line-height: 30px;
	font-family: "微软雅黑";
}
.copyright_content a, .copyright_content ul li{
	text-decoration: none;
	color: #999;
	font-size: 18px;
}
.copyright_content li ul li a{
	font-size: 14px;
}
